.navbar {
  font-size: 1rem;
  padding: 1.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 90vw;
  margin-left: 5vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  color: #fff;
  @media screen and (max-width: 1300px) {
    font-size: 0.85rem;
    padding: 1rem 0;
  }
  .links__container {
    display: flex;
    align-items: center;

    .pc__version {
      @media screen and (max-width: 990px) {
        display: none;
      }
      ul {
        display: flex;
        li {
          margin: 0 1rem;
        }
      }
    }
  }
  .actions__container {
    display: flex;
    align-items: center;
  }
  .actions {
    display: flex;
    align-items: center;
    &.mobile {
      display: none;
    }
    @media screen and (max-width: 600px) {
      display: none;
      &.mobile {
        display: block;
      }
    }
    .sign__in {
      color: #ffffff;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      transition: all 0.3s;
      &:hover {
        color: #ff4820;
      }
      @media screen and (max-width: 1300px) {
        font-size: 16px;
      }
    }
    .sign__up {
      padding: 0.5rem 1.6rem;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
      background-image: linear-gradient(to right, #ec4899, #8b5cf6);
      border-radius: 5px;
      margin-left: 1rem;
      transition: all 0.3s;
      border: none;
      &:hover {
        transform: scale(1.05);
      }
      @media screen and (max-width: 1300px) {
        font-size: 16px;
        padding: 0.3rem 1.3rem;
      }
    }
  }
  button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 2.1rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    padding: 0.1rem;
    display: none;
    @media screen and (max-width: 990px) {
      display: flex;
    }
    &.clicked {
      border-radius: 50%;
      background: #002853;
    }
  }
  .mobile__version {
    position: absolute;
    z-index: 1000;
    top: 4rem;
    right: 1rem;
    border-radius: 5px;
    margin-top: -100%;
    padding: 1rem;
    min-width: 200px;
    background: #000000d5;
    color: #fff;
    transition: all 0.3s;

    &.show {
      margin-top: 0%;
    }

    ul {
      margin-bottom: 1rem;
      li {
        width: 100%;
        font-size: 1rem;
        padding: 0.4rem;
        border-radius: 5px;
        &:hover {
          transition: all 0.3s;
          background: #002853;
        }
        a {
          display: block;
        }
      }
    }

    @media screen and (max-width: 990px) {
      display: block;
    }
  }
}
