@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #0c0c0c;
  background-image: url("https://res.cloudinary.com/freelancer3223/image/upload/v1687608813/gradProject/header-img_alxuu5.svg");
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.active {
  transition: all 0.3s ease-in-out;
  position: relative;
}

.headerLink {
  position: relative;
  font-weight: 500;
}
.headerLink:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 1.5px;
  border-radius: 8px;
  background: linear-gradient(to right, #ec4899, #8b5cf6);
  transition: all 0.3s ease-in-out;
}
.headerLink:hover::after {
  left: 0;
  right: unset;
  width: 100%;
}
.headerLink.active::after {
  width: 100%;
}

.landing {
  /* background-image: url("https://res.cloudinary.com/freelancer3223/image/upload/v1688225127/gradProject/bg_m190ig.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* @media screen and (max-width: 600px) {
  .loanding {
    background-image: url("https://res.cloudinary.com/freelancer3223/image/upload/v1688389888/gradProject/phoneBG_mfbnnw.png");
  }
} */
.get-plan {
  cursor: pointer !important;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8758a3;
  border-radius: 12px;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background: #523f9e;
}
.footer-gradient {
  position: absolute;

  left: 37%;
  bottom: 0;

  background: #b965fa;
  filter: blur(150px);
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}
